
body{
    margin: 0;
    padding: 0;
}

.firstrow{
    display: flex;
    background-color: brown;
    justify-content: space-between;
    justify-content: space-around;

}
.mail{
    margin-right: 700px;
 
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    text-decoration: none;
}

.navlinks{
    display: flex;
    justify-content: row;
    flex-direction: row;
 
}
.navlinks ul li a{
    text-decoration: none;
    list-style: none;
    color: black;

}

.navlinks ul li{
    list-style: none;
  
}

.navlink{
    display: flex;
    justify-content: row;
    text-decoration: none;
    gap: 25px;
 


}

.logo{
    width: 500px;
    height: 70px ;
    width: inherit;
 
}

.backimage{
    height: 100vh;
    width: 100vw;
    position: relative;
}
.backgroundheaderimage{
    width: 100%;

    height: inherit;
    transition: transform 0.3s;
    overflow: clip;
       object-fit: cover;
}


#subtext2{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font width: 90px;;
}

#subtext3{
    font-size: 20px;
    width:500px;
}

.hero-overlay {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
 
    row-gap: 20px;
    opacity: 0.7;
      position: absolute;
     top: 8%;
     margin-top: 100px;
     margin-left: 100px;
     
}
 .button{
    background-color: red;
    padding: 10px;
    font-size: 15px;
    color: white;
 }

 .contact{
    display:flex ;
    justify-content: row;
justify-content: space-around;
 }

 .button1{
  
    font-size: 12px;
    color: red;
    margin-bottom: 30px;
    width: 200px;

 }
 .curvedimage{
    width: 400px;
    height: 400px;
    border-top-left-radius: 100px ;
 }
 
 .section2{
    display: flex;
    justify-content: row;
    justify-content: center;
    justify-content: space-between;
 
    margin: 150px;
 }
 .text{
    width: 500px;

 }

 .gridandmenu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 }
 .card{
    width: 280px;
    height: 250px;
    background-color: brown;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
  margin: 5px;
 }
form{
    height: 100vh;
    width: 30wv;
    background-color: blue;
}
 .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

 }